* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v4_49 {
  width: 390px;
  height: 844px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v4_50 {
  width: 390px;
  height: 63px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v4_51 {
  width: 390px;
  height: 71px;
  background: rgba(84,43,48,1);
  opacity: 1;
  position: absolute;
  top: 773px;
  left: 0px;
  overflow: hidden;
}
.v4_52 {
  width: 390px;
  height: 773px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v7_12 {
  width: 324px;
  color: rgba(84,43,48,1);
  position: absolute;
  top: 739px;
  left: 31px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v4_54 {
  width: 327px;
  color: rgba(84,43,48,1);
  position: absolute;
  top: 792px;
  left: 31px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v4_53 {
  width: 327px;
  color: rgba(84,43,48,1);
  position: absolute;
  top: 63px;
  left: 31px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v7_8 {
  width: 327px;
  color: rgba(84,43,48,1);
  position: absolute;
  top: 561px;
  left: 31px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v7_9 {
  width: 324px;
  color: rgba(84,43,48,1);
  position: absolute;
  top: 590px;
  left: 31px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v7_10 {
  width: 324px;
  color: rgba(84,43,48,1);
  position: absolute;
  top: 641px;
  left: 31px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v7_11 {
  width: 324px;
  color: rgba(84,43,48,1);
  position: absolute;
  top: 687px;
  left: 31px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v7_6 {
  width: 324px;
  color: rgba(84,43,48,1);
  position: absolute;
  top: 513px;
  left: 31px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v4_56 {
  width: 390px;
  height: 379px;
  background: url("../images/v4_56.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 115px;
  left: 0px;
  overflow: hidden;
}
.v4_57 {
  width: 390px;
  height: 379px;
  background: rgba(84,43,48,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v4_58 {
  width: 334px;
  height: 323px;
  background: url("../images/v4_58.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 28px;
  overflow: hidden;
}
.v7_2 {
  width: 44px;
  height: 44px;
  background: rgba(236,19,19,0);
  opacity: 1;
  position: absolute;
  top: 409px;
  left: 185px;
  border-radius: 50%;
}
.v7_4 {
  width: 44px;
  height: 44px;
  background: rgba(236,19,19,0);
  opacity: 1;
  position: absolute;
  top: 190px;
  left: 94px;
  border-radius: 50%;
}
.v7_3 {
  width: 44px;
  height: 44px;
  background: rgba(236,19,19,0);
  opacity: 1;
  position: absolute;
  top: 400px;
  left: 119px;
  border-radius: 50%;
}
